.registration {
    width: 800px;
    height: 800px;
    border: 1px solid #e0e9ec;
    border-radius: 10px;
    margin: 50px auto;
    background-color: #e0e9ec;
}
.register-form {
    margin-top: 100px;
}